/* .header {height:50px;} */

/* .col-md-6:first-child {border-right:1px solid black;}
.col-md-6 {border:1px solid black;} */
.middle-line {border-right:1px solid black;}
/* .test {border:1px solid black;} */

.lookup-input {}
.lookup-input .lookup-title {text-align:center;color:rgb(72, 247, 37);font-weight:500;text-shadow:1px 1px 5px gray;
    margin:30px 0 30px 0;}

.lookup-input-wrapper {text-align:center;margin-bottom:30px;}
.lookup-input-wrapper > span {display:inline-block;text-align:left;width:60px;
    color:rgb(72, 247, 37);font-weight:500;font-size:20px;}
.lookup-input-wrapper > .lookup-input {width:75%;height:40px;text-align:center;border-radius:20px;}
.lookup-button-wrapper {text-align:center;margin-bottom:30px;}
.lookup-button {padding:8px 50px;margin:0 auto;border-radius:20px;text-align:center;
    background-color: rgb(72, 247, 37);color:white;font-weight:600;font-size:20px;
    border:0;outline:0;}

.alert-logo-wrapper {text-align:center;margin-bottom:10px;}
.alert-logo-wrapper > img {width:30%;}

.alert-msg-wrapper {width:100%;}
.alert-msg-wrapper > div {width:70%;margin:0 auto;font-size:10px;color:rgb(72, 247, 37);}

.list-section {}
.list-section .list-title {text-align:center;color:rgb(72, 247, 37);font-weight:500;text-shadow:1px 1px 5px gray;
    margin:30px 0 30px 0;}
   
.facility-list-wrapper {height:400px;overflow-y:scroll;}
.visitor-list-wrapper {height:400px;overflow-y:scroll;}

.notice-button-wrapper {margin-top:50px;}